.App {
  background: linear-gradient(#edf5ff, white);
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.degradeHorizontal {
  gap: 20px;
  background: linear-gradient(to right, #adf5cc, #0072f5);
}

.containerFlex {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.box {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexElementBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
